/*Stylesheet for mission fullstack dev*/
/*Author Srabon*/
body{
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
}
.top-section{
    display: flex;
    margin-bottom: -40px;
}
.dev-msg{
    margin: 5%;
    width: 40%;
}
.headers{
    border-left: 5px solid transparent;
    border-image: linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-image-slice: 1;
}
.top-header {
    color: black;
    font-size: 45px;
    font-weight: 800;
    margin-left: 10px;
}
.purple-head{
    color:#6D3F9A;
    margin-left: 10px;
    font-size: 45px;
    font-weight: 800;
}
.dev-msg p{
    text-align: justify;
    font-size: 17px;
    
    margin-bottom: 30px;
}
.top-img {
    width: 50%;

    margin: 8% 5%;
}
.top-img img{
    width: 70%;
    border-radius: 15px;

}
.button{
    height: 35px;
    width: 175px;
    padding: 5px;
    background-color:#6D3F9A;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    
}
.button a{
    text-decoration: none;
    color:white;
    font-size: 17px;
    font-weight: 600;
}
.button:hover{
    background-color: #FE4E43;
}

#mid-head{
    text-align: center;
    
}

.mid-section-box{
    display: flex;
    align-content: space-around;
    margin-top: 80px;
}
.section-box{
    width: 340px;
    height: 360px;
    margin: 0px auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px gray;
}
.section-box-image img {
    width:40%;
}

.section-description{
    margin: 15px;
}
#box1{
    background-color: #AEB6BF;
}
#box2{
    background-color:#C39BD3;
}
#box3{
    background-color: #85C1E9;
}

.details-section{
    width:90%;
    margin:1% 5%;
    display: flex;

    
}

.img-details{
    width: 40%;
    margin: 5%;

}
.img-details img{
    width: 80%;
}
.description-details{
    width: 50%;
    margin: 3%;
}
.description-details p{
    text-align: justify;
}
#top-details{
    background-image: url("./images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
}
#bottom-details{
    background-image: url("./images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: bottom;
    background-position-x:970px;
}


.skill {
    display: flex;
    box-shadow: 5px 10px 5px gray;
    width:100%;
    margin: 1% 5%;
    height: 150px;
    border-radius: 5px;
    background-color: #CACFD2;
}
.last-section{
    display: flex;
    width: 90%;
    margin: 5%;

    
}
.last-header{
    width: 45%;
    margin: 2%;
}
.last-header img{
    width: 100%;
}
.skill-section{
    width: 45%;
    margin: 2%;
    margin-top: 70px;
    border-left: 5px solid transparent;
    border-image: linear-gradient(45deg, #4158D0 0%, #90a55fea 46%, #FFCC70 100%);
    border-image-slice: 1;
    



}
#quote{
    color: #34495E;
    font-style: italic;
    font-size: 20px;
}
.icon{
    width:150px;
    margin: 40px 20px;
    
}
.icon img{
    width: 70%;
}
hr{
    padding: 1%;
    background-color: #5DADE2;
}
#html{
    color: #EC7063;
}
#css{
    color:#138D75
}
#js{
    color:#9543FE;
}

#python{
   color: #28B463;
    
}

.footer{
    background-color: rgb(12, 12, 12);
    padding: 5px;
    text-align: center;
    height: 150px;
    
}
.footer-section h1{
    font-size: 45px;
    color: mintcream;
}
.footer-section p{
    font-style: bolder;
    font-size: 16px;
    margin-top: -15px;
    color: mintcream;
}
