/*Stylesheet for mission fullstack dev*/
/*Author Srabon*/
body{
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
}
.top-section{
    display: flex;
    margin-bottom: -40px;
}
.dev-msg{
    margin: 5%;
    width: 40%;
}
.headers{
    border-left: 5px solid transparent;
    border-image: linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-image-slice: 1;
}
.top-header {
    color: black;
    font-size: 45px;
    font-weight: 800;
    margin-left: 10px;
}
.purple-head{
    color:#6D3F9A;
    margin-left: 10px;
    font-size: 45px;
    font-weight: 800;
}
.dev-msg p{
    text-align: justify;
    font-size: 17px;
    
    margin-bottom: 30px;
}
.top-img {
    width: 50%;
    margin: 0% 5%;
}
.top-img img{
    width: 70%;

}
.button{
    height: 35px;
    width: 175px;
    padding: 5px;
    background-color:#6D3F9A;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    
}
.button a{
    text-decoration: none;
    color:white;
    font-size: 17px;
    font-weight: 600;
}
#mid-head{
    text-align: center;
    
}

.mid-section-box{
    display: flex;
    align-content: space-around;
    margin-top: 80px;
}
.section-box{
    width: 340px;
    height: 360px;
    margin: 0px auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}
.section-box-image img {
    width:40%;
}

.section-description{
    margin: 15px;
}
#box1{
    background-color: #AEB6BF;
}
#box2{
    background-color:#C39BD3;
}
#box3{
    background-color: #85C1E9;
}

.details-section{
    width:90%;
    margin:1% 5%;
    display: flex;

    
}

.img-details{
    width: 40%;
    margin: 5%;

}
.img-details img{
    width: 80%;
}
.description-details{
    width: 50%;
    margin: 3%;
}
.description-details p{
    text-align: justify;
}
#top-details{
    background-image: url("./images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
}
#bottom-details{
    background-image: url("./images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: bottom;
    background-position-x:970px;
}
.footer{
    background-color: rgb(12, 12, 12);
    padding: 5px;
    text-align: center;
    height: 150px;
}
.footer-section h1{
    font-size: 45px;
    color: mintcream;
}
.footer-section p{
    font-style: bolder;
    font-size: 16px;
    margin-top: -15px;
    color: mintcream;
}